@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spinAround {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-spinAround {
    animation: spinAround 4s linear infinite;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
}

